HELP.md
target/             # Ignore Maven build artifacts
build/              # Ignore Gradle build artifacts

# Remove exceptions for target/build directories unless absolutely necessary
# !**/src/main/**/target/
# !**/src/test/**/target/
# !**/src/main/**/build/
# !**/src/test/**/build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Ignore Spring Boot configuration files
src/main/resources/application.properties
src/main/resources/application.yml
